# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Custom ignores
!sites/*/files/.htaccess
!sites/*/private/.htaccess
.idea
tmp